/* $teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a; */

.left-column {
  background-size: cover;
}

.content-page-wrapper {
  width: 100vw;
  height: calc(100vh - 84px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.right-column h2 {
  font-weight: 400;
}

.right-column > h3 {
  padding-bottom: 1px;
  color: #42454a;
  font-weight: 400;
}

.right-column > h1 {
  color: #26bfd4;
  font-weight: 500;
}

.icons-list {
  display: flex;
  padding: 20px;
}

.icons-list a {
  color: #8a8a8a;
  font-size: 60px;
  padding: 20px;
}

/* resume */
.resume-image-wrapper {
  display: flex;
  flex-direction: column;
}

.resume-image-wrapper a {
  align-self: center;
  color: #42454a;
  padding: 40px;
  font-size: 1.7em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.resume-image-wrapper a:hover {
  color: #26bfd4;
  text-decoration: underline;
}

.resume-image {
  width: 80%;
  align-self: center;
}

/* contact page */
.contact-bullet-points {
  display: grid;
  grid-gap: 21px;
  grid-template-columns: 1fr;
}

.bullet-point-group {
  display: flex;
  align-items: center;
}

.icon a {
  font-size: 3em;
  color: #26bfd4;
}

.text {
  font-size: 1.5em;
  margin-left: 21px;
}
.text a {
  color: #26bfd4;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.text a:hover {
  color: #207b88;
  text-decoration: underline #207b88;
}
